body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6cbae1;
  }
  
h1 {
    text-align: center;
}

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #effabc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    flex: 0 0 30%;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  